[Desktop Entry]
Encoding=UTF-8
Name=Link to added this XML snippet: robocup-ssl.xml
Type=Link
URL=https://projneon.slack.com/files/U3Z0D7RJ5/F74GJSELV/robocup-ssl.xml
Icon=text-html
